
.container{
  display: flex;
  flex-direction: column;
  padding: 1% 2%;
  background-color: rgb(184, 184, 184);
  border-radius: 15px;
  width: 200px;
  height: fit-content;
  text-decoration: none;
  color: black;
  align-items: center;
  margin: 3% 0;
}

.img{
  vertical-align: top;
  width: 50%;
}

.button{
  margin: auto;
  background-color: rgb(252, 252, 252);
  padding: 2% 10%;
  border-radius: 6px;
}

.title{
  margin: 0 0 15% 0;
}

@media (min-width: 1180px){
  .container{
    margin: 1% 0;
  }
}