
nav {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1%;
}

nav a {
  padding: 1% 2%;
  text-decoration: none;
  background-color: blue;
  color: white;
  transition: 0.5s;
  border-radius: 15px;
  border: solid blue 1px;
}

nav a:hover{
  padding: 1% 2%;
  text-decoration: none;
  background-color: white;
  color: blue;
}