
nav {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1%;
}

@media (min-width: 1125px) {
  nav{
    margin: auto;
    width: 1180px;
  }

  .cards-container{
    width: 950px;
    margin: auto;
    background-color: rgb(212, 212, 212);
    padding: 0 1% 1%;
  }
  .cards{
    display: flex;
    justify-content: space-around;
  }
}

nav a {
  padding: 1% 2%;
  text-decoration: none;
  background-color: blue;
  color: white;
  transition: 0.5s;
  border-radius: 15px;
  border: solid blue 1px;
}

nav a:hover{
  padding: 1% 2%;
  text-decoration: none;
  background-color: white;
  color: blue;
}

.cards-container{
  background-color: rgb(212, 212, 212);
  padding: 0 1% 1%;
}
.cards{
  display: flex;
  justify-content: space-around;
}